<p>posts-list works!</p>
<!-- <h1>{{postListTitle}} from postList</h1>
<h2>{{postIsLogin}}</h2>

<button (click) = "sendMessage()">send message to parent</button> -->

<app-card>
    <h2> Blog post title 1</h2>
    <p>15/08/2024</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque quidem quasi laboriosam aperiam repudiandae voluptatum, temporibus mollitia in incidunt sint iusto maxime exercitationem, reiciendis fugiat esse suscipit eum, consequuntur molestias fuga assumenda ipsam animi inventore eaque. Corporis repellat omnis autem veniam suscipit, explicabo in nostrum iure vero vitae consectetur, doloremque minima cum, numquam at ad maiores cumque iusto! Quia ex eaque, iste animi voluptates amet blanditiis deserunt delectus qui.</p>
</app-card>