<h1>first angular app</h1>
<h2>{{title}}</h2>
<p>{{1+1}}</p>
<!-- <app-navbar></app-navbar> -->
<!-- <app-header></app-header> -->
<p>hi</p>

<img src={{imgUrl}} alt="">

<!-- property binding -->
<img [src]='imgUrl2' alt="">
<img src='{{imgUrl}}' alt="">
<img [src]=imgUrl2 alt="">

<button disabled="{{isDisabled }}">disable button using string interpolation</button>
<br>
<button [disabled]="isDisabled ">disable button using property binding</button>
<br>
<!-- class binding -->
<div class='center-container '>
    <button [class.active]="isActive" [class.no-active]="!isActive" [class.active-border]="isActive"
        [class.no-active-border]="!isActive">Click Me</button>
</div>

<button [class.apple]="fruitName == 'Apple'">Fruit Ninja</button>

<!-- style binding -->
<br>
<button [style.background]="isActive?'red':null" [style.border]="isActive?'3px solid yellow':''">click</button>


<!-- Event binding -->
<br>
<button (click)='buttonClick()'>Event Binding </button>
<br>
<input type="text" placeholder="keyup" (keyup)="keyEnter($event)">
<br>
<input type="text" placeholder="onKeyDown" (keydown)="onKeyDown($event)">
<br>
<input type="text" placeholder="keypress" ((keypress))="keyEnter($event)">
<br>
<input type="text" placeholder="keyup.enter " (keyup.enter)="keyupFilternig()">
<br>
<input type="text" (keyup.a)="keyupA(user)" #user id='userInput'>

<!-- two way data binding -->
<input type="text" [value]=" userName" #username (keyup.enter)="updateUserName(username)">
<br>
<input type="text" [(ngModel)]="userName" >