.active{
    background-color: black;
    cursor: pointer;
    padding:10px;
    color: white;
    
    margin: 10px;
    

}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Adjust as needed */
  }
  

.no-active{
    background-color: white;
    color: black;
}

.active-border{
    border-radius:7px;
}

.no-active-border{
    border-radius:30%
}