<h1>first angular app</h1>
<h2>{{title}}</h2>
<p>{{1+1}}</p>
<!-- <app-navbar></app-navbar> -->
<!-- <app-header></app-header> -->
<p>hi</p>

<img src={{imgUrl}} alt="">

<!-- property binding -->
<img [src]='imgUrl2' alt="">
<img src='{{imgUrl}}' alt="">
<img [src]=imgUrl2 alt="">

<button disabled="{{isDisabled }}">disable button using string interpolation</button>
<br>
<button [disabled]="isDisabled ">disable button using property binding</button>
<br>
<!-- class binding -->
<div class='center-container '>
    <button [class.active]="isActive" [class.no-active]="!isActive" [class.active-border]="isActive"
        [class.no-active-border]="!isActive">Click Me</button>
</div>

<button [class.apple]="fruitName == 'Apple'">Fruit Ninja</button>

<!-- style binding -->
<br>
<button [style.background]="isActive?'red':null">click</button>