<!-- old way -->
<!-- <h2>hi</h2>
<h3>{{userName}}</h3>
<h2 *ngIf="isLoggedIn; else message">{{userName}} hi</h2>
<h2 *ngIf="!isLoggedIn; else message">is not logged in using a message</h2>
<ng-template #message>
    <h4>user not logged in</h4>
</ng-template> -->




<!-- new way -->

<!-- @if (isLoggedIn) {
<h2>{{userName}}</h2>
} @else{
<h4>user is not logged in</h4>
} -->





<!-- if directives with number values -->

<!-- <button (click)="countLogInAttempts()" *ngIf="loginCount<3">log in</button>
<h4 *ngIf="loginCount>=3">exceeded 3 login attempts</h4>
@if (loginCount){
<h4>you have clicked the login button {{loginCount}} times</h4>
} -->





<!-- if directives with string values -->

<!-- <h4 *ngIf="userRole == 'Admin'; else memberMessage">Welcome Admin</h4>

<ng-template #memberMessage>
    <h4>welcome member</h4>
</ng-template>

@if(userRole == "Admin"){
<h2>welcome admin if statement</h2>
} @else {
<h2>welcome member else statement</h2>
}

<ng-template #callToAction>
    <button>join now</button>
</ng-template>

<div [ngTemplateOutlet]=callToAction>
    <h5>Sidebar</h5>
    <span>hello</span>
</div>
<div>
    <h5>hero</h5>
</div>
<div>
    <h5>footer</h5>
</div> -->





<!-- ng for Directives  -->

<!-- <h3>{{ users }}</h3>
<h3 *ngFor="let user of users">{{ user }}</h3>
<hr />
<h2>new approach</h2>
<p>for syntax approach</p>
@for( i of users; track i){
<h4>{{ i }}</h4>
}
<hr />

<h3>using list</h3>
<ul>
  <li *ngFor="let user of users">
    {{ user }}
  </li>
</ul>
<hr />
<p>at for</p>
<ul>
  @for(i of users; track i){
  <li>{{ i }}</li>
  }
</ul> -->





<!-- object arrays -->
<ul>
    <h3>using old angular for loop</h3>
    <li *ngFor="let user of usersObj ">{{user.name}}</li>
</ul>

<ul>
    <h3>using new angular for loop</h3>
    @for(user of usersObj; track user){
    <li>{{user.email}}</li>
    }
</ul>




<!-- change direction -->
 <button (click)="addNewUser()">Add new user</button>