<h1>NGRX</h1>

<div>
  <form action="">
    <div id="form-group">
      <label for="">UserName</label>
      <input type="email" class="form-control" id="username" placeholder="Enter your userName" />

      <small class="form-text">
        we will never
      </small>
    </div>
    <div class="form-group">
      <label for="">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Enter your password" id="password"
        placeholder="enter your name" />
    </div>
    <button type="submit">save</button>
  </form>
</div>